body {
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 18px;
    padding: 10px;
}

h1 {
/*    color: powderblue;  */
}

li {
    margin-top: 8px;
    line-height: 24px
}

code {
    font-size: 80%
}

div.outer-div {
    max-width: 640px;
    margin: auto
}