body {
    font-family: 'Ariel';
    font-size: 18px;
    padding: 10px;
}

h1 {
/*    color: powderblue;  */
}

li {
    line-height: 24px
}

code {
    font-size: 80%
}

div.outer-div {
    max-width: 640px;
    margin: auto
}